p.description{
    padding: 10px 5px;
}

div#field1 input {
    width:450px;
}
div#field4 {
    display:none;
}
div#detail table td {
	white-space: pre;
  max-width: 350px;
  overflow: scroll;
}
}
div#pstackpath{
  width: 850px;
}
div#pstackpath label{
  width: 500px;
}
div#pstackpath input{
  width: 800px;
}
div#pstackseparator,
div#pstackfileindex,
div#pstacktimeindex{
  width: 80px;
}
div#pstackseparator input,
div#pstackfileindex input,
div#pstacktimeindex input{
  width: 50px;
}
